* {
  font-family: 'JetBrainsMono Nerd Font Propo', sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.64);
  color: #e8eaed;
  border-radius: 7px;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: inset 0 -1px transparent;
  border: none;
  border-radius: 7;
}

button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px #e8eaed;
}

#workspaces {
  margin: 5px 7px;
}

#workspaces button {
  background-color: rgba(200, 200, 200, 0.2);
  padding: 0 3px;
  margin: 0 3px;
  color: #e8eaed;
}

#workspaces button:hover {
  background: rgba(150, 150, 150, 0.1); 
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button.active {
  background-color: #e8eaed;
  color: #323d49;
}

#mpd,
#pulseaudio,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#backlight,
#keyboard-state,
#battery,
#battery#bat2,
#clock,
#network,
#tray {
  background-color: rgba(200, 200, 200, 0.2);
  margin: 5px 3px;
  padding: 0 7px;
  border-radius: 7px;
  color: #e8eaed;
}

#tray {
  margin-right: 7px;  
}

#mpd:hover,
#pulseaudio:hover,
#power-profiles-daemon:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#backlight:hover,
#keyboard-state:hover,
#battery:hover,
#battery#bat2:hover,
#clock:hover,
#network:hover {
  background: rgba(150, 150, 150, 0.1); 
  box-shadow: inset 0 -1px #e8eaed;
}

#tray > *:hover {
  background-color: rgba(0, 0, 0, 0.64);
  box-shadow: inset 0 -1px #e8eaed;
  border-radius: 7px;
  padding: 7px;
}
